/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
}

header {
    color: black;
    padding: 10px 0;
    text-align: left;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

header > h1 {
    margin-left: 15px;
    color: black;
}

main {
    overflow: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%;
    margin-bottom: -80px; /* Adjust for the fixed nav bar */
    height: calc(100vh - 150px); /* Adjust for the header and nav bar */
    background-color: aliceblue;
}

nav {
    background-color: white;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed; /* Fix position at the bottom */
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current-exchange-rate-box > .input-box-wrapper > span {
    margin-top: 5px;
}

.current-exchange-rate-box > .input-box-wrapper > span > span {
    width: 25%;
}

.current-exchange-rate-box > .input-box-wrapper > span > input {
    width: 50%;
}

.input-box-wrapper {
    display: flex;
    flex-direction: column;
}

.input-box-wrapper > label {
    margin-bottom: 5px;
}

.input-box-wrapper > span {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.input-box-wrapper > span > input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
}

.input-box-wrapper > span > span {
    width: 20%;
    text-align: center;
}

.compare-button-box {
    display: flex;
    justify-content: space-around;
}

.compare-button-box > button {
    padding: 15px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav > ul > li {
    width: 100%;
    text-align: center;
    font-size: larger;
    color: black;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.page {
    width: 100%;
    padding: 20px;
}

#main-page > div {
    padding-bottom: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.card {
    width: 400px; /* Fixed width */
    /* the height is calculated based on the width using gyllene snittet */
    height: calc(400px / 1.618); /* 1.618 is the golden ratio */
    perspective: 1000px;
}

.card-inner {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.card-flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card-back {
    transform: rotateY(180deg);
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.card-back-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.card-back-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.card-back-left > button,
.card-front > button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.submenu  {
    display: none;
    flex-direction: column;
}

.submenu > input {
    padding: 5px;
    font-size: 15px;
    width: 80%;
}

.submenu-expanded {
    display: flex;

}

.clickable-header {
    cursor: pointer;
    color: blue; /* Change color to indicate it's clickable */
    text-decoration: underline; /* Add underline to indicate it's a link */
}

.clickable-header:hover {
    color: darkblue; /* Darken color on hover */
    text-decoration: none; /* Remove underline on hover */
}

#weekend-checkbox {
    height: 20px;
    width: 20px;
}

.weekend-checkbox > span {
    display: flex;
    align-items: center;
    margin-top: 5px;
} 

.weekend-checkbox > span > label {
    margin-left: 10px;
    text-align: center;
} 