/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
}

header {
    color: black;
    padding: 10px 0;
    text-align: left;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

header > h1 {
    margin-left: 15px;
    color: black;
}

main {
    overflow: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%;
    margin-bottom: -80px; /* Adjust for the fixed nav bar */
    height: calc(100vh - 150px); /* Adjust for the header and nav bar */
    background-color: aliceblue;
}

nav {
    background-color: white;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed; /* Fix position at the bottom */
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current-exchange-rate-box > .input-box-wrapper > span {
    margin-top: 5px;
}

.current-exchange-rate-box > .input-box-wrapper > span > span {
    width: 25%;
}

.current-exchange-rate-box > .input-box-wrapper > span > input {
    width: 50%;
}

.input-box-wrapper {
    display: flex;
    flex-direction: column;
}

.input-box-wrapper > label {
    margin-bottom: 5px;
}

.input-box-wrapper > span {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.input-box-wrapper > span > input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
}

.input-box-wrapper > span > span {
    width: 20%;
    text-align: center;
}

.compare-button-box {
    display: flex;
    justify-content: space-around;
}

.compare-button-box > button {
    padding: 15px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav > ul > li {
    width: 100%;
    text-align: center;
    font-size: larger;
    color: black;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.page {
    width: 100%;
    padding: 20px;
}

#main-page > div {
    padding-bottom: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.card {
    width: 95vw; /* Fixed width */
    /* the height is calculated based on the width using gyllene snittet */
    height: calc(95vw / 1.618); /* 1.618 is the golden ratio */
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card-top {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-top > h2 {
    margin-left: 10px;
    font-size: 30px;
}

.card-middle {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-middle > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the content vertically */
}

.card-middle > div > label {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-middle > div > span {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.card-middle > div > span > span {
    margin-left: 5px;
}

.card-middle > div > span > input {
    width: 50%;
    text-align: right;
    padding: 5px;
    font-size: 16px;
}

.card-bottom {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-bottom > div {
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-bottom > div > button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.card-bottom > div > button:hover {
    background-color: #0056b3;
}

#weekend-checkbox {
    height: 20px;
    width: 20px;
}

.weekend-checkbox > span {
    display: flex;
    align-items: center;
    margin-top: 5px;
} 

.weekend-checkbox > span > label {
    margin-left: 10px;
    text-align: center;
} 

.dialog-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

.dialog-box {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 15px;
    font-size: 20px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-content-edit-card > span > input,
.dialog-content-edit-card > span > span > input {
    font-size: 18px;
    padding: 5px;
}

.dialog-content-edit-card > span > span > input {
    width: 80%;
}

.dialog-content-edit-card > span {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}

.dialog-close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 40px;
    text-align: right;
}

.dialog-content-delete-card > div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.dialog-content-delete-card > div > button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.new-card-button {
    position: fixed;
    bottom: 90px;
    right: calc(50% - 50px);
    padding: 10px 15px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    border-radius: 90px;
    font-size: 25px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}